.container{
    display: flex;
    width: 1280px;
    height: 1134px;
    top: 145px;
    background-color: black;
    border: solid 1px, #FFFFFF;
}
.photo-room{
    position: absolute;
    width: 829.16px;
    height: 849px;
    left: 410px;
    background-image: url('./ob-PhotoRoom.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.txt{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    
    
}
.meet{
    position: absolute;
    width: 262px;
    height: 114px;
    top: 263px;
    left: 48px;
    width: 262px;
    height: 114px;
    top: 263px;
    left: 48px;
    font-size: 80px;
    text-align: left;
    color: #FF0000;
    line-height: 96px;
    
}
.your-fav{
    
    position: absolute;
    width: 600px;
    height: 114px;
    top: 343px;
    left: 48px;
    font-family: "Barlow";
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    overflow: visible;
    white-space: nowrap;
    z-index: 200;

}
.recently{
    position: absolute;
    width: 332px;
    height: 50px;
    top: 783px;
    left: 48px;
    font-family: "Barlow";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 48px;

}
.item-1, .item-2, .item-3{
    position: absolute;
    display:flex;
    width: 362px;
    height: 211px;
    top: 833px;
    left: 48px;
    border-radius: 10px;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    vertical-align: bottom;
   
    background-image: url('./ob-PhotoRoom1.png');
    background-size: cover;
    background-repeat: no-repeat;
    align-content: flex-end;

}
.item-2{
    left:444px;
}
.item-3{
    left: 854px;
}
.view{
    position: absolute;
    display:contents;
    width: 47px;
    height: 22px;
    top: 1002px;
    left: 344px; 
    z-index: 200;  

}
.item-1 .view{
    left: 344px;
}